<!-- Start Order list-->
<mat-card fxLayout="row" fxLayoutAlign="space-between center">
  <div class="product-img">
    <img src="http://www.pngmart.com/files/8/Mango-PNG-Image-Free-Download.png" width="100">
  </div>

  <div class="product-title " fxLayout="column" fxLayoutAlign="start start">
    <p class="title">Banganapalli Mangoes</p>
    <p>From vikash, Rourkela, Odisha 770039</p>
  </div>

  <div fxLayout="column" class=" quantity" fxLayoutAlign="start start">
    <p class="title">Quantity</p>
    <p>200kg</p>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayoutGap.xs="10px">
    <button class="btn-save cancel">Cancel</button>
    <button class="btn-save order-track">Track Order</button>
  </div>
</mat-card>
<!-- End Order list-->
