<section fxLayout="column">
  <div class="profile-info" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <img width="200" class="profile-img" src="https://image.flaticon.com/icons/png/512/64/64572.png" />
  </div>

  <form [formGroup]="loginForm" >
    <div class="example-container" fxLayout="column">
      <h2 style="font-weight: 100; text-align: center;">Please sign in</h2>

      <mat-form-field appearance="outline">
        <mat-label>EMAIL ID</mat-label>
        <input matInput placeholder="Email Id">
        <mat-icon matSuffix>email</mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>PASSWORD</mat-label>
        <input matInput placeholder="Password">
        <mat-icon matSuffix>vpn_key</mat-icon>

      </mat-form-field>
      <div fxLayoutAlign="center center">

        <button class="btn-save login-btn">LOGIN</button>
      </div>


      <label style="text-align: center; margin-top: 5px; color:gray">Or</label>

      <div fxLayoutAlign="center center">

        <button (click)="openSignup()" class="btn-save sign-in">SIGNUP NOW</button>
      </div>
    </div>
    </form>

</section>
