<!-- Start Header -->
<header class="header-box">
  <div class="app-container">

    <div fxLayout="row" fxLayoutAlign="space-between" fxHide.xs>
      <div class="logo">
        <a [routerLink]="['/']" style="width: 100px;">
          <img src="assets/icons/logo.png" height="50px">
        </a>
      </div>
      <div class="menu" fxLayoutAlign.gt-lg="center center">
        <ul class="list">
          <li class="contain" [routerLink]="['/home']" routerLinkActive="active"><span>SHOP</span></li>
          <li class="contain" [routerLink]="['/products']" routerLinkActive="active"><span>BULK ORDER</span></li>
          <li class="contain" [routerLink]="['/images']" routerLinkActive="active"><span>PACKAGING</span></li>
          <li class="contain" [routerLink]="['/contact-us']" routerLinkActive="active"><span>OUR STORE</span>
          </li>
          <li class="contain" [routerLink]="['/images']" routerLinkActive="active"><span>PRODUCTS</span></li>
        </ul>
      </div>
      <div class="login-btn" fxLayout="row" (click)="openLogin()" fxLayoutAlign="center center" fxLayoutGap="3px">
        <mat-icon>login</mat-icon>
        <span fxLayoutAlign="center center">LOGIN</span>
      </div>
    </div>

    <!-- Mobile View -->
    <div fxLayout="row" fxLayoutAlign="space-between" fxHide fxShow.xs>
      <div class="mobile-view ml-3">
        <mat-icon class="menu-icon" (click)="toggelSidenav()">menu</mat-icon>
      </div>
      <div class="brand mt-1">STORE</div>
      <div class="login-btn mr-3" fxLayout="row" (click)="openLogin()" fxLayoutAlign="center center" fxLayoutGap="3px">
        <mat-icon class="icon ">login</mat-icon>
      </div>
    </div>
    <!-- Mobile View -->
  </div>

</header>
<!-- Ends Headers -->
