<!-- Start Product view -->
<!-- <h4>All Products</h4> -->
<!-- <div class="products-container"> -->

  <!-- <section fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center"  class="app-container">

  <ng-container *ngFor="let p of products">

    <app-p-tile  [image]="p.image" [name]="p.name" [description]="p.description" [price]="p.price"  [quantity]=' p.quantity < 1 ? "NO STOCK" : "IN STOCK"' [stock]="p.quantity"  ></app-p-tile>
  </ng-container>


  </section> -->
  <!-- Ends Product view -->
<!-- </div> -->



<!-- Start Product view -->
<section fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center center" class="app-container">

  <app-p-tile></app-p-tile>

</section>
<!-- Ends Product view -->
