@import "partials/variables";

img{
  max-width: 100%;
  height: auto;
}
mat-card {
  border-radius: 0px !important;
  max-width: 300px;
  padding: 0px 24px 0px 24px !important;
  @media only screen and (max-width: 600px) {
    max-width: 175px;
    padding: 0px 12px 0px 12px !important;
  }
  .order {
    .pre-order {
      background-color: $m-brand-secondary-color;
      padding: 10px;
      font-weight: 400;
      height: 35px;
      position: relative;
      right: 25px;
      cursor: pointer;
      margin-top: 15px;
      box-shadow: 3px 2px 0px rgba(0, 0, 0, 0.11);
      @media only screen and (max-width: 600px) {
        padding: 5px;
    height: 30px;
    margin-top: 15px;
    right: 13px;
        .icon {
          font-size: 23px;
        }
        .login {
          font-size: 12px;
        }
      }
    }
  }
  .icon {
    color: $icon-color;
    font-size: 45px;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  .product-title {
    font-family: Poppins;
    margin-top:40px;
    .title {
      font-style: medium;
      font-size: 16px;
      color: $m-text-primary;
    }
    p {
      font-style: (mixed);
      font-size: 13px;

      color: $m-text-secondary;
    }
    @media only screen and (max-width: 600px) {
      margin-top: 10px;
    }
  }
  .buy {
    align-items: center !important;
    margin-bottom: 30px;
    .price-tag {
      border: 1px solid $m-text-primary;
      height: fit-content;
      padding: 3px;
      .unit {
        color: $m-text-secondary;
      }
      .price {
        color: $m-text-primary;
      }
    }
    @media only screen and (max-width: 600px) {
      margin-top: 10px;
      font-size: 9px;
      mat-icon{
        font-size: 25px;
      }
    }
  }

  .buy-btn {
    background-color: $m-brand-color;
    padding: 15px;
    height: 45px;
    cursor: pointer;
    color: $m-white;
    @media only screen and (max-width: 600px) {
      padding: 10px;
      height: 30px;
      margin-right: 0px !important;
      // margin-top: -5px;
      mat-icon {
        font-size: 20px;

      }
      .login {
        font-size: 12px;
      }
    }
  }
}
