@import "./variables";
button,
a {
    &.m-btn {
        text-transform: uppercase;
        padding: 8px 18px;
        border: none;
        outline: none;
        font-size: 15px;
        background: $m-brand-secondary-color;
        transition: color, background 0.2s ease-in-out;
        color: $m-text-primary;
        &.sm {
            padding: 5px 10px;
        }
        &.gt-md {
            padding: 12px 30px;
        }
        &.primary {
            background: $m-brand-color;
            color: white;
            border: 1px solid transparent;
            // &:hover {
            //     border-color: $m-brand-color;
            // }
        }
        &.danger {
            background-color: $m-bg-warn;
            color: white;
        }
        &.red {
            background-color: #f7746d !important;
            color: white;
        }
        &.grey {
            background-color: #d4e1f4 !important;
        }
    }
}