
<!-- Start side nav -->
<aside class="side-nav" fxLayout="column">
<div class="profile-info" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
  <img width="50" class="profile-img" src="https://lh3.googleusercontent.com/proxy/OPssseFMkthwVEzIftu4-9Se3TOyyjWQjhHWoyj8zyqgoVUR5DvBeNo1a02ao-7m0Nc-BhvH36c2sPT_D57W2w" />
</div>
<a class="list-group-item" (click)="toggelSidenav()" routerLink="/"><i class="las la-home"></i>Home</a>
<a class="list-group-item" (click)="toggelSidenav()" routerLink="/auth/signup"><i class="las la-user-plus"></i> Join us</a>
<a class="list-group-item" (click)="toggelSidenav()" routerLink="/auth/login"><i class="las la-sign-in-alt"></i> Login</a>
</aside>
<!-- Ends side nav -->
