
.side-nav{
  padding-top: 0px !important;
  .profile-img{
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-right: 10px;
  }
  .lar,.las{
      font-size: x-large;
      margin-right: 10px;
  }
  .profile-info{
      background-color: #f7af32;
      padding: 15px;

  }
  .list{
    padding: 15px;
  }
}
