<!-- Start Order Form -->
<section fxLayout="column">
  <!-- Order Form -->
  <form [formGroup]="orderform">
    <div class="example-container" fxLayout="column" fxLayoutAlign="center">
      <h2>ORDER NOW</h2>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="70%">
          <mat-label>MANGOES</mat-label>
          <input matInput placeholder="Mangoes">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="30%">
          <mat-label>QUANTITY</mat-label>
          <input matInput placeholder="Quantity">
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>NAME</mat-label>
        <input matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>EMAIL ID</mat-label>
        <input matInput placeholder="Email Id">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>MOBILE</mat-label>
        <input matInput placeholder="Mobile">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ADDRESS</mat-label>
        <textarea matInput cdkTextareaAutosize placeholder="Address" #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <span class="mt-2 mode">Select Payment Mode</span>
      <div fxLayout="row" fxLayoutGap="15px" class="mt-2" fxLayoutAlign="start start">
        <input type="radio" name="payment" id="card">
        <label for="card" class="cards" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3px">
          <mat-icon>payment</mat-icon>
          <span fxLayoutAlign="center center">Online</span>
        </label>
        <input type="radio" name="payment" id="cash">
        <label for="cash" class="cards" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3px">
          <mat-icon>payments</mat-icon>
          <span fxLayoutAlign="center center">Cash</span>
        </label>
      </div>
    </div>
    <div fxLayoutAlign="center center" class="mt-4 mb-2">
      <button routerLink="/orders" class="btn-save" (click)="checkOut()">Checkout Now</button>
    </div>
  </form>
  <!-- Order Form -->
</section>
<!-- Ends Orders Form -->
